.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/workspace.xml
.idea/caches/
.idea/shelf/
.idea/tasks.xml
.idea/.name
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/scopes/scope_settings.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/navEditor.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/artifacts/

*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

local.properties

### XCode ###
iosApp/iosApp.xcworkspace/xcuserdata/carlo.xcuserdatad/UserInterfaceState.xcuserstate
iosApp/Pods/Pods.xcodeproj/xcuserdata/carlo.xcuserdatad/xcschemes/xcschememanagement.plist

### Pods ###
iosApp/Podfile.lock
iosApp/Pods/